@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
.no-tailwindcss-base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: revert;
        font-weight: revert;
    }

    ol,
    ul {
        list-style: revert;
        margin: revert;
        padding: revert;
    }
}
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
